<div>This should never be reloaded</div>
<a routerLink="" routerLinkActive="active">
  Home Page
</a><br />
<a routerLink="content" routerLinkActive="active">
  Content List
</a><br />
<a routerLink="content/42" routerLinkActive="active">
  The answer to the universe and everything
</a><br />
<a routerLink="pagewillnotbefound" routerLinkActive="active">
  Invalid page link
</a><br />
<div>These links above here are part of the app component</div>
<router-outlet></router-outlet>

<!-- <div>
    <h1>Without pipe</h1>
    <app-content-card *ngFor="let item of bunchOfFood; index as i; last as isLast" [foodItem]="item"
        [class.is-last]="isLast"></app-content-card>
</div> -->



<!-- This is the app component -->
<!-- <div>
    <h3>Template reference variable and event binding</h3>
    My Card Name input <input #cardName>
    <button (click)="updatePage(cardName.value)">Submit</button>
    {{ cardName.value }}
</div>
<div>
    <h3>Two Way Binding</h3>
    Change the title here: <input [(ngModel)]="title">
    Title is set to : <strong>{{ title }}</strong>
</div>
<div>
    <h3>Working with pipes</h3>
    <div>{{ title | uppercase }}</div>
    <div>{{ birthday | date | uppercase }}</div>
</div> -->
