<div *ngIf="foodItem" class="food-{{foodItem?.id}}">
  <div class="type">{{ foodItem | defaultType }}</div>
  <div class="body">{{ foodItem.body }}</div>
  <div><img [src]="foodItem.imageUrl"></div>
  <div [ngSwitch]='foodItem.taste'>
      <span *ngSwitchCase='"Sweet"'>Super Sweet food</span>
      <span *ngSwitchCase='"general"'>Very bland taste</span>
      <span *ngSwitchDefault>Tasteless</span>
  </div>
  <!-- <div *ngif="foodItem ? foodItem.taste: ''" class="taste">{{ foodItem ? foodItem.taste : "" }}</div> -->
  <div class="name">{{ foodItem.name }}</div>
  <div class="tags">
      <span  class="tag" *ngFor="let tag of foodItem.tags"> {{ tag }}</span>
  </div>
</div>
<div *ngIf="!foodItem">
  No food item at that id exists. <a routerlink="content">Go back to the list</a>
</div>
