:host{
    display: block;
    width: 400px;
    margin: 16px auto;

    .type{
        color: #ff0000;
    }
    img{
        width: 200px;
    }
}
:host.is-last{
    background-color:#00ff00;
}
// :host{

// }
// :host .type{
//     color:#ff0000;
// }
// :host img{

// }