<div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Select an id number to display</mat-label>
    <input matInput placeholder="0" type="number" #id>
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="displayMovieItem(id.value)">Display Movie</button>
</div>
<app-content-card [movie]="someMovie" class="single-item-on-app-component"></app-content-card>


<mat-divider></mat-divider>
<app-content-list></app-content-list>

<app-messages></app-messages>
