<mat-form-field>
    <mat-label>ID (ONLY FOR UDPATING)</mat-label>
    <input matInput placeholder="0" #id>
</mat-form-field>
<mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name goes here" #name>
</mat-form-field>
<mat-form-field>
    <mat-label>Image URL</mat-label>
    <input matInput placeholder="https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?202201181338" #imageUrl>
</mat-form-field>
<mat-form-field>
  <mat-label>Body</mat-label>
  <input matInput placeholder="Body goes here" #body>
</mat-form-field>
<mat-form-field>
  <mat-label>Tags</mat-label>
  <input matInput placeholder="Tags here, separated by commas" #tags>
</mat-form-field>
<div>
    <button mat-raised-button color="primary" (click)="addFood(name.value, imageUrl.value, body.value, tags.value)">Add Food Item</button>
    <button mat-raised-button color="accent" (click)="updateFood(id.value, name.value, imageUrl.value, body.value, tags.value)">Update Food Item</button>
</div>
